<div (click)="onChangeAddNewNote()" class="app-new-note-button" *ngIf="onCheckNewNote(); else newNote">
  <img src="../../assets/plus.png" class="app-button-img-note"> <span> Новая заметка</span>
</div>
<ng-template #newNote>
  <div class="app-new-note-label">
    <input [(ngModel)]="title" value="{{title}}" placeholder="{{title}}" type="text" class="new-note-title">
    <textarea [(ngModel)]="content" placeholder="{{content}}" cols="20" rows="5" class="new-note-content"></textarea>
    <div class="button-container">
      <button (click)="addNewNote()" class="new-note-button">Добавить</button>
      <button (click)="onChangeAddNewNote()" class="close-button">Закрыть</button>
    </div>
  </div>
</ng-template>
<button (click)="create()" mat-raised-button color="primary">create</button>
<!--<button (click)="getOne()" mat-raised-button color="primary">getOne</button>-->
<button (click)="getAll()" mat-raised-button color="primary">getAll</button>
<!--<button (click)="update()" mat-raised-button color="primary">update</button>
<button (click)="delete()" mat-raised-button color="primary">delete</button>-->




