:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.mat-select-arrow {
  color: #007aff!important;
}

.mat-form-field-infix {
  background-color: white!important;
  border-radius: 10px!important;
  padding-left: 5px!important;
  border: 2px solid black;
  min-height: 25px;
}

.mat-select-value {
  color: #007aff!important;
  font-size: 16px!important;
}

.mat-select-panel {
  background-color: white!important;
}

.mat-calendar {
  background-color: rgba(147, 219, 255, 0.48) !important;
  width: 50vh!important;
  height: 50vh!important;
}

textarea {
  resize: none;
}

input::placeholder, textarea::placeholder {
  color: #007aff;
}

.wrapper{
  max-width: 1230px;
  margin: 0 auto;
  padding: 10px 10px;
  background-color: black;
  border-radius: 10px;
}

.container{
  background-color: black;
  display: grid;
  grid-template-rows: minmax(150px, 0.5fr) minmax(700px, 3fr);
  grid-template-columns: minmax(350px, 1fr) 2fr;
  grid-gap: 5px;
  grid-template-areas:
    "header header"
    "navbar content";
}

.app-header{
  background-color: silver;
  grid-area: header;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 30px;
}

.app-navbar{
  background-color: silver;
  grid-area: navbar;
}

.app-content{
  background-color: silver;
  grid-area: content;
}

@media screen and (max-width: 700px) {

  .container{
    background-color: black;
    display: grid;
    grid-template-rows: 1fr 3fr 4fr;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    grid-template-areas:
      "header"
      "navbar"
      "content";
  }

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
