<div class="all-wrapper">
  <div class="wrapper">
    <h1 class="content-title"> Заметка номер <span> {{ id }} </span> </h1>
    <div class="content">
      К сожалению здесь, кроме номера заметки, только статика. У меня не получилось динамически созданный контент заметки показать при переходе по роуту, данные заметок, cохраненные в массиве, при переходе обнуляются.
      Была идея прикрутить стороннюю API базу данных и по запросам, с помощью HttpClient, сохранять и получать заметки, тогда при переходе по роутам можно было бы получить данные сохраненных заметок из базы.
      В итоге решил не усложнять простой тестовый проект и оставить так. Возможно есть другое решение, но мне не достает опыта работы с Angular.
      По сути весь мой опыт я получил при написании данного тестового задания, на выходных:) В любом случае я старался выполнить все пункты ТЗ. Спасибо!
    </div>
  </div>
</div>
